.container{
    text-align: center !important; 
}
.header{
    font-family: 'Roboto', sans-serif;
}
.content{
    font-family: 'Open Sans', sans-serif;
}
.bottom{
  margin: 5px;
}
div.button input{
    border-radius: 5px;
    width: 100px;
    margin: 10px;
    background-color: yellow;
}